build --incompatible_strict_action_env
build --action_env=PATH=/usr/bin:/bin:/usr/local/bin:/opt/homebrew/bin
build --strategy=SwiftCompile=worker
build --spawn_strategy=local
build --features=swift.cacheable_swiftmodules
build --define=apple.experimental.tree_artifact_outputs=1
build --apple_platform_type=ios

build --experimental_remote_cache_compression
build --remote_download_toplevel
build --modify_execution_info=^(BitcodeSymbolsCopy|BundleApp|BundleTreeApp|DsymDwarf|DsymLipo|GenerateAppleSymbolsFile|ObjcBinarySymbolStrip|CppLink|ObjcLink|ProcessAndSign|SignBinary|SwiftArchive|SwiftStdlibCopy)$=+no-remote,^(BundleResources|ImportedDynamicFrameworkProcessor)$=+no-remote-exec
build --experimental_remote_cache_async

build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --noremote_upload_local_results
build --remote_timeout=3600
build:ci --build_metadata=ROLE=CI
build:ci --build_metadata=REPO_URL=https://github.com/jatjat/kaly2ios.git
build:ci --workspace_status_command=$(pwd)/workspace_status.sh

#build --compilation_mode dbg
#build --features=swift.use_global_module_cache
#build --swiftcopt=-Xwrapped-swift=-debug-prefix-pwd-is-dot
#build --swiftcopt=-Onone
#build --copt=-Onone
#build --features=swift.dbg
#build --features=debug_prefix_map_pwd_is_dot
#build --features=swift.debug_prefix_map
#build --features=swift.enable_vfsoverlays
#--spawn_strategy=standalone \
#--worker_sandboxing=false \
