build --incompatible_strict_action_env
build --action_env=PATH=/usr/bin:/bin
build --strategy=SwiftCompile=worker
build --spawn_strategy=local
build --features=swift.cacheable_swiftmodules
build --define=apple.experimental.tree_artifact_outputs=1
#build --compilation_mode dbg
#build --features=swift.use_global_module_cache
#build --swiftcopt=-Xwrapped-swift=-debug-prefix-pwd-is-dot
#build --swiftcopt=-Onone
#build --copt=-Onone
#build --features=swift.dbg
#build --features=debug_prefix_map_pwd_is_dot
#build --features=swift.debug_prefix_map
#build --features=swift.enable_vfsoverlays
#--spawn_strategy=standalone \
#--worker_sandboxing=false \
